.notebook {
  @include outer-container;
  height: 1000px;
}

.page {
  @include span-columns(6);
  @include omega;
  height: 100%;
  position: relative;
  border: solid 1px #000;

  .page--title {
    text-align: center;
    padding: em(10) 0px;
    height: em(40);
    border-bottom: solid 1px #000;

    input[type="text"] {
      text-align: center;
      font-size: em(14);
    }
  }

  .page--content {
    height: 100%;
    cursor: pointer;
  }

  .page--footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: em(5) 0;
  }

  .page--page-number {
    float: right;
    padding-right: em(10);
  }
}
