<div class="single-form-container">
  <form>
    <input type="text" class="input--chromeless" placeholder="Name" />
    <input type="text" class="input--chromeless" placeholder="Email" />
    <input type="password" class="input--chromeless" placeholder="Password" />
    <button type="submit" class="button">Start</button>
  </form>
</div>
