<nav class="top-bar">
  <ul class="title-area">
    <li class="logo"></li>
    <li class="name">Bullet</li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>Sign out</li>
    </ul>
  </section>
</nav>

<div class="notebook">
  {{#each currentPages}}
    <div class="page">
      <div class="page--title">{{title}}</div>
    </div>
  {{/each}}
</div>
