<nav class="top-bar">
  <ul class="title-area">
    <li class="logo"></li>
    <li class="name">Bullet</li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>Sign out</li>
    </ul>
  </section>
</nav>

<div class="notebook">
  {{#each currentPages}}
    {{notebook-page page=this}}
  {{/each}}
</div>
