<div class="container">
  <div class="single-form-container">
    <h2>This notebook belongs to</h2>
    <form>
      {{placeholder-text-field type="text" class="input--chromeless" placeholder="Name" }}
      {{placeholder-text-field type="text" class="input--chromeless" placeholder="Email" }}
      {{placeholder-text-field type="password" class="input--chromeless" placeholder="Password" }}
      <button type="submit" class="button">Start</button>
    </form>
  </div>
</div>
