<div class="container">
  <div class="single-form-container">
    <h2>This notebook belongs to</h2>
    <form {{action "signup" on="submit"}}>
      {{placeholder-text-field type="text" class="input--chromeless" value=name placeholder="Name" }}
      {{placeholder-text-field type="text" class="input--chromeless" value=email placeholder="Email" }}
      {{placeholder-text-field type="password" class="input--chromeless" value=password placeholder="Password" }}
      <button type="submit" class="button">Start</button>
    </form>
  </div>
</div>
